
# 数据库
 DATABASE_URL="mysql://数据库名:密码@数据库地址:3306/数据库名"



# 网站 URL（自动处理 Server Actions 域名）
NEXT_PUBLIC_SITE_URL=https://yourdomain.com

SITE_DOMAIN=yourdomain.com



# 文章自动化写作，低配服务器请关闭（可选）
DISABLE_CRON=false

# 授权服务器配置 (本地测试)
LICENSE_SERVER_URL=https://sq.moli123.com
DISABLE_LICENSE_HEARTBEAT=true
